<section class="about">
    <div class="parallax1">
        <div class="inner">
            <h1>Ewelina <span id="name">Noga</span></h1>
            <h2>Junior Front-End Developer</h2>
        </div>
    </div>
    <div class="content1">
        <p>Nazywam sie Ewelina Noga i od ponad pól roku fascynuję się i zajmuję sie rozwojem w kierunku kodowania stron
            internetowych.</p>
        <p>Jestem absolwentką studiów I i II stopnia kierunku Geodezja i Kartografia na wydziale Inżynierii Lądowej i
            Gedezji na WAT.
            Obecnie mieszkam w Warszawie i całą swoją uwagę koncentruję na rozwoju swoich umiejętności i poznawaniu
            nowych technologii dzięki którym moje projekty będą lepsze.</p>
    </div>
</section>
<section class="skils">
    <div class="parallax2"></div>

    <div class="content2">
        <h3>Umiejętności</h3>
        <div class="skill ">
            <div class="skill-name">HTML5</div>
            <div class="skill-name">CSS3</div>
            <div class="skill-name">JavaScript/ jQuery</div>
            <div class="skill-name">Bootstrap</div>
        </div>
        <div class="skill">
            <div class="skill-name">GIT</div>
            <div class="skill-name">SASS</div>
            <div class="skill-name">Responsive Web Design</div>
            <div class="skill-name">Angular4</div>
        </div>
    </div>
</section>

